<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <title><%= requiredPost.postTitle %> </title>
    <link rel="stylesheet" href="../blog-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="pageTop"></div>
    <%- include('partials/top_nav') -%>

    <h1><%= requiredPost.postTitle %></h1>

    <div class="post-body">
        <%- requiredPost.postBody %> 
    </div>
    
      <%- include('partials/footer') -%>
  </body>
</html>